version: "3.8"

services:
  # Backend Service
  api:
    build: .
    ports:
      - "8000:8000"
    environment:
      - PORT=8000
      - MONGO_URI=mongodb://mongo:27017/taskManager
      - NODE_ENV=development
      - CLIENT_URL=http://localhost:5173
    depends_on:
      - mongo
    networks:
      - task-network
    # Mount source code for live reloading during development (optional)
    volumes:
      - ./:/app
      - /app/node_modules
    command: npm run dev

  # Database Service
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - task-network

volumes:
  mongo-data:

networks:
  task-network:
    driver: bridge
